:root, [data-bs-theme=dark] {
    text-align: center;
    background-color: #111317;
    color: #1aa3a3;
    text-decoration: none;
    --bs-body-bg: #111317;
    --bs-body-color: #1aa3a3;
}

::-webkit-scrollbar {
    width: 5px; /* Szerokość suwaka */
}

::-webkit-scrollbar-thumb {
    background-color: #1aa3a3; /* Kolor suwaka */
}



a {
    text-decoration: none;
    background: url(${process.env.PUBLIC_URL}/bg.png) center/cover no-repeat;
}

.btn-close {
    filter: var(--bs-btn-close-white-filter);
}

.btn-primary {
    --bs-btn-color: #1aa3a3;
    --bs-btn-bg: #222b37;
    --bs-btn-border-color: #222b37;
    --bs-btn-hover-color: #111317;
    --bs-btn-hover-bg: #179292;
    --bs-btn-hover-border-color: #179292;
}

.btn-secondary {
    --bs-btn-color: red;
    --bs-btn-bg: #222b37;
    --bs-btn-border-color: red;
    --bs-btn-hover-color: #111317;
    --bs-btn-hover-bg: red;
    --bs-btn-hover-border-color: #111317;
    --bs-btn-font-weight: 700;
    --bs-btn-border-width: 1.5px;
}

.btn-success {
    --bs-btn-color: #111317;
    --bs-btn-bg: #179292;
    --bs-btn-border-color: #179292;
    --bs-btn-hover-color: #111317;
    --bs-btn-hover-bg: #179292;
    --bs-btn-hover-border-color: #179292;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
    background-color: #179292;
}

.card {
    background-color: #222b37;
    border-color: #222b37;
    color: #1aa3a3;
    transition: color 0.3s ease, border-color 0.3s ease;
    height: 100%;
    --bs-card-title-spacer-y: 0;
}

    .card:hover {
        background-color: #179292;
        color: #111317;
    }

.card-body {
    max-width: 400px;
}

.card-settings {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.card-text {
    padding: 2rem;
}

.card-title {
    color: #179292;
}

.cardtext-incoming {
    padding-bottom: 0.5rem;
}

.carousel-img {
    width: 100%;
    height: 300px; /* Ustaw tutaj stałą wysokość */
    object-fit: cover;
    width: 100%;
    filter: brightness(30%);
}

.col {
    padding: 1rem;
}

.container {
    max-width: 1500px;
    min-height: 100vh;
}

.div-incoming {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.fade.alert.alert-primary.alert-dismissible.show {
    font-size: 1rem;
    --bs-alert-color: #1aa3a3;
    --bs-alert-bg: #111317;
    --bs-alert-border-color: #1aa3a3;
}

:focus-visible {
    outline: #1aa3a3 auto 3px;
}

.form-control {
    --bs-body-color: #1aa3a3;
    --bs-border-color: #222b37;
    background-color: #222b37;
}

    .form-control:focus {
        --bs-body-color: #1aa3a3;
        --bs-border-color: #222b37;
        background-color: #222b37;
        box-shadow: 0 0 0 .25rem rgba(26,163,163,.2);
        border-color: #1aa3a3;
    }

    .form-control::placeholder {
        color: #1aa3a3;
    }

.form-switch .form-check-input {
    --bs-form-switch-bg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='rgba(255, 255, 255, 0.75)'/%3E%3C/svg%3E");
}

    .form-switch .form-check-input:checked {
        background-color: #1aa3a3;
    }

input {
    background-color: #111317;
    color: #1aa3a3;
    border-width: 2px;
    border-style: solid;
    border-color: #1aa3a3;
}

.list {
    background-color: #111317;
    color: #1aa3a3;
    border-color: #222b37;
}

    .list:hover {
        background-color: #179292;
        color: #111317;
    }

.manageUser {
}

.modal {
    --bs-modal-border-color: #1aa3a3;
    --bs-modal-footer-border-color: #1aa3a3;
    --bs-modal-header-border-color: #1aa3a3;
}

.modal-body {
    text-align:left;
}

.navbar {
    background-color: #111317;
    --bs-navbar-brand-padding-y: 0.2rem;
    --bs-navbar-brand-font-size: auto;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar-icons {
    color: white;
    width: 100%;
    user-select:none;
}

.newVisitor {
    background-color: #222b37;
    border-color: #222b37;
    color: #1aa3a3;
    height: 100%;
    width: 400px;
    max-width: 400px;
    padding-bottom:1rem;
}

    .newVisitor:hover {
        background-color: #222b37;
        border-color: #222b37;
        color: #1aa3a3;
    }

.row-container {
    max-height: 50%;
    padding: 2rem;
}

.table-dark {
    --bs-table-bg: #222b37;
    --bs-table-striped-bg: #111317;
    --bs-table-border-color: #363b44;
    --bs-table-hover-bg: #179292;
    --bs-table-hover-color: black;
    --bs-table-color: #1aa3a3;
    --bs-table-striped-color: #1aa3a3;
}



/*sidebar*/
.layout {
    display: flex;
}

span.sidebar-menu-nav-title {
    color: white;
}

a.sidebar-menu-nav-link{

}

    a.sidebar-menu-nav-link:hover span.sidebar-menu-nav-icon {
        visibility: visible;
        opacity: 1;
    }

span.sidebar-menu-nav-icon {
    visibility: hidden;
    transition: visibility 0.1s, opacity 0.2s;
    opacity: 0;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
    font-size: 20px;
}

.panel {
    width: 250px;
    height: 100vh;
    background-color: #333;
    transition: transform 0.3s ease;
    transform: translateX(-250px);
}

.sidebar-colS {
    animation: slideOutToLeft 0.9s ease-in-out forwards;
    overflow: hidden;
    background-color: rgba(17,19,23,.9);
    position: fixed;
    z-index: 999;
    max-width: 550px;
    height: 100%;
}

.sidebar-colH {
    animation: slideInFromLeft 0.9s ease-in-out forwards;
    overflow: hidden;
    background-color: rgba(17,19,23,.9);
    position: fixed;
    z-index: 999;
    max-width: 550px;
    height: 100%;
}

.sidebar-menu {
    padding-top: 2rem;
    font-size: 1.3rem;
    text-align: start;
    padding-left: 1rem;
}

.sidebar-menu-nav {
    margin: 2rem 0rem;
    padding-block: 1rem;
    align-items: center;
    justify-content: center;
}

.panel-open {
    transform: translateX(0);
}

.content {
    flex: 1;
}

.toggle-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}

@media (min-width: 992px) {
    .div-incoming {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

@media (min-width: 350px) {
    .card-incoming {
        min-width: 300px;
    }

    .card-settings {
        min-width: 300px;
    }
}

@media (max-width: 500px) {
    .sidebar-menu {
        text-align: center;
        padding-left: 0;
        font-size: 1rem;
        padding-top: 0;
    }

    .sidebar-menu-nav {
        padding: 0.2rem;
    }

    .sidebar-colH {
        animation: slideInFromTop 0.9s ease-in-out forwards;
        max-width: 500px;
        background-color: #111317;
    }

    .sidebar-colS {
        animation: slideOutToTop 0.9s ease-in-out forwards;
    }
}

@media (max-width: 1002px) {
    .menucolumn {
        min-width:250px;
    }

    .outlet-shownSidebar {
        width: 100%;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutToLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOutToTop {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}
